<div class="container">
  <div class="quizz-window">
    <div class="quizz-screen">
      <h2 class="question_text"><%= @question.text %></h2>
    </div>
    <div class="quizz-propositions">
      <%= form_with model: @new_attempt do |form| %>
        <%= form.collection_radio_buttons :id, @propositions, :id, :text %>
        <%= form.submit %>
      <% end %>





    </div>
  </div>
</div>