 <div class="container"> 
  
  <% @quizzs.each do |quizz| %>
    <%= link_to quizz , class:"quizz-card-link" do %>
      <div class="quizz-card">
        <h1 class="quizz-title"><%= quizz.name %></h1>
        <div class="quizz-status">
          <%# the status is either "attempted" (passed or failed following the score) "started" if already started and "not started" if not started %>
          <% if quizz.attempted_by_user(@user) == "attempted" %>
              <%# si le score est supérieur a 60% le quizz est réussi %>
              <% if quizz.attempt_score(@user) >= 0.6 %>
                <h3 class="status passed">Réussi</h3>
                <% else %>
                <h3 class="status failed">Echec</h3>
              <% end %>
            <% else %>
              
              <% if quizz.attempted_by_user(@user) == "started" %>
                <h3 class="status started">Commencé</h3>
                <% else %>
                <h3 class="status">Non essayé</h3>
              <% end %>
          <% end %>
        </div>
        <div class="difficulty-tag">
          <h2 class="difficulty">Difficulté : </h2>
          <div class="difficulty-icons">
              <%# there is three level of difficulties  %>
              <% if quizz.difficulty == "expert" %>
                  <h2><i class="fas fa-square"></i></h2>
                  <h2><i class="fas fa-square"></i></h2>
                  <h2><i class="fas fa-square"></i></h2>
                <% elsif quizz.difficulty == "confirmé" %>
                  <h2><i class="fas fa-square"></i></h2>
                  <h2><i class="fas fa-square"></i></h2>
                  <h2><i class="fas fa-square light-square"></i></h2>
                  
                <% else %>
                  <h2><i class="fas fa-square"></i></h2>
                  <h2><i class="fas fa-square light-square"></i></h2>
                  <h2><i class="fas fa-square light-square"></i></h2>
              <% end %>
          </div>
        </div>
        
        
        <div class="category-tag">
          <h3><%= quizz.categorie %></h3>
        </div>
      </div>
    <% end %>  
  <% end %>
  
 </div>