.quizz-window{
  background-color: white;
  height: 65vh;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  .quizz-screen{
    background-color: $three;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    .question_text{
      padding: 10px;
    }
    p{
      padding: 10px;
    }
  }
  .quizz-propositions{
    background-color: $one;
    margin-top: 10px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
      .propositions {
        display: flex;
        flex-direction: column;
          input[type="radio"] {
            display: none;
          }
          label{
            background-color: white;
            margin: 10px; 
            border-radius: 10px;
          }
          label.selected{
            border: 2px solid black;
          }
          label.correct{
            background-color: darkseagreen;
          }
          label.wrong{
            background-color: mistyrose;
          }
          input[type="submit"] {
            width: -webkit-fill-available;
            margin: 10px;
            background-color: $dark;
            color: white;
            border-radius: 10px;
            border:none;
          }
          a.nav-link{
            width: -webkit-fill-available;
            margin: 10px;
            background-color: $dark;
            color: white;
            border-radius: 10px;
            border:none;
          }
        } 
      }
    }
    
